.ProductPage {
    display: flex;
    margin: auto;
    max-width: 1280px;
    flex-flow: column;
}

.ProductPageTitle {
    margin: 70px auto 70px 0;
}

.PP-container {
    display: flex;
    flex-flow: row;
}

.PP-img-container {
    height: 600px;
    width: 450px;
}

.PP-body {
    display: flex;
    margin: auto;
    flex-flow: column;
}